pelican==4.2.0

# Improves readability of HTML.
typogrify==2.0.7

# For automation.
invoke==1.4.0
ghp_import==0.5.5

# For importing the old WordPress site.
BeautifulSoup4==4.5.3
lxml==4.6.5
pandoc==1.0.2

# Required by the pelican_comment_system.
pillow==8.3.2
