{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} | Blog@instantbird.org{% endblock %}

{% block body_class %}single single-post single-format-standard singular two-column right-sidebar{% endblock %}

{% block content %}
<div id="primary">
  <div id="content" role="main">
    <article id="post-{{ article.slug }}" class="post type-post status-publish format-standard hentry">
      <header class="entry-header">
        <h1 class="entry-title">{{ article.title }}</h1>

        <div class="entry-meta">
          <span class="sep">
            Posted on </span><a href="/{{ article.url }}" title="{{ article.date.strftime('%-I:%M %p') }}" rel="bookmark"><time class="entry-date" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></a><span class="by-author"> <span class="sep"> by </span>
            <span class="author vcard"><a class="url fn n" href="/{{ article.author.url }}" title="View all posts by {{ article.author }}" rel="author">{{ article.author }}</a></span>
          </span>
        </div><!-- .entry-meta -->
      </header><!-- .entry-header -->

      <div class="entry-content">
        {{ article.content }}
      </div><!-- .entry-content -->

      <footer class="entry-meta">
        {% if article.tags %}
          This entry was posted in <a href="/{{ category.url }}" title="View all posts in {{ article.category }}">{{ article.category }}</a> and tagged {% for tag in article.tags|sort %}
          <a href="/{{ tag.url }}">{{ tag }}</a>{% if loop.nextitem %},{% endif %}
        {% endfor %} by <a href="/{{ article.author.url }}">{{ article.author.name }}</a>. Bookmark the <a href="/{{ article.url }}" title="Permalink to {{ article.title|striptags }}" rel="bookmark">permalink</a>.
        {% elif article.category %}
          This entry was posted in <a href="/{{ category.url }}" title="View all posts in {{ article.category }}">{{ article.category }}</a> by <a href="/{{ article.author.url }}">{{ article.author.name }}</a>. Bookmark the <a href="/{{ article.url }}" title="Permalink to {{ article.title|striptags }}" rel="bookmark">permalink</a>.
        {% else %}
          This entry was posted by <a href="/{{ article.author.url }}">{{ article.author.name }}</a>. Bookmark the <a href="/{{ article.url }}" title="Permalink to {{ article.title|striptags }}" rel="bookmark">permalink</a>.
        {% endif %}
      </footer><!-- .entry-meta -->
    </article><!-- #post-{{ article.slug }} -->

    {% include 'comments.html' %}

  </div><!-- #content -->
</div><!-- #primary -->

{% include "sidebar.html" %}
{% endblock %}
