{% extends "base.html" %}

{% block title %}{{ author|striptags }} | Blog@instantbird.org{% if articles_page.has_previous() %} | Page {{ articles_page.number }}{% endif %}{% endblock %}

{% block additional_feeds %}
<link rel="alternate" type="application/rss+xml" title="Blog@instantbird.org &raquo; Posts by {{ author }} Feed" href="{{ FEED_DOMAIN }}/{{ AUTHOR_FEED_RSS_URL.format(slug=author.slug) }}" />
{% endblock %}

{% block body_class %}archive {% if articles_page.has_previous() %}paged {% endif %}author two-column right-sidebar{% endblock %}

{% block content %}
<section id="primary">
  <div id="content" role="main">
  {% if articles_page.object_list %}
    <header class="page-header">
      <h1 class="page-title">Author Archives: <span class="vcard"><a class="url fn n" href="/{{ author.url }}" title="{{ author }}" rel="me">{{ author }}</a></span></h1>
    </header>

    {% set nav_class='nav-above' %}
    {% include 'content_nav.html' %}

    {% for article in articles_page.object_list %}
    {% include "content.html" %}
    {% endfor %}

    {% set nav_class='nav-below' %}
    {% include 'content_nav.html' %}

  {% else %}

    <article id="post-0" class="post no-results not-found">
      <header class="entry-header">
        <h1 class="entry-title">Nothing Found</h1>
      </header><!-- .entry-header -->

      <div class="entry-content">
        <p>Apologies, but no results were found for the requested archive. Perhaps searching will help find a related post.</p>
        {% include 'searchform.html' %}
      </div><!-- .entry-content -->
    </article><!-- #post-0 -->

  {% endif %}
  </div><!-- #content -->
</section><!-- #primary -->

{% include "sidebar.html" %}
{% endblock %}
