{% extends "base.html" %}

{% block title %}{{ category }} | Blog@instantbird.org{% endblock %}

{% block additional_feeds %}
<link rel="alternate" type="application/rss+xml" title="Blog@instantbird.org &raquo; {{ category }} Category Feed" href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS_URL.format(slug=category.slug) }}" />
{% endblock %}

{% block body_class %}archive {% if articles_page.has_previous() %}paged {% endif %}category two-column right-sidebar{% endblock %}

{% block content %}
<section id="primary">
  <div id="content" role="main">

  {% if articles_page.object_list %}

    <header class="page-header">
      <h1 class="page-title">Category Archives: <span>{{ category }}</span></h1>
    </header>

    {% set nav_class='nav-above' %}
    {% include 'content_nav.html' %}

    {% for article in articles_page.object_list %}
    {% include "content.html" %}
    {% endfor %}

    {% set nav_class='nav-below' %}
    {% include 'content_nav.html' %}

  {% else %}

    <article id="post-0" class="post no-results not-found">
      <header class="entry-header">
        <h1 class="entry-title">Nothing Found</h1>
      </header><!-- .entry-header -->

      <div class="entry-content">
        <p>Apologies, but no results were found for the requested archive. Perhaps searching will help find a related post.</p>
        {% include 'searchform.html' %}
      </div><!-- .entry-content -->
    </article><!-- #post-0 -->

  {% endif %}

  </div><!-- #content -->
</section><!-- #primary -->

{% include "sidebar.html" %}
{% endblock %}
