<div id="comments">
  {%  if article.comments %}
    <h2 id="comments-title">
      {% if article.comments_count == 1 %}
      One thought on &ldquo;<span>{{ article.title }}</span>&rdquo;
      {% else %}
      {{ article.comments_count }} thoughts on &ldquo;<span>{{ article.title }}</span>&rdquo;
      {% endif %}
    </h2>

    {# TODO #}
    {% if false %}
    <?php if ( get_comment_pages_count() > 1 && get_option( 'page_comments' ) ) : // are there comments to navigate through ?>
    <nav id="comment-nav-above">
      <h1 class="assistive-text"><?php _e( 'Comment navigation', 'twentyeleven' ); ?></h1>
      <div class="nav-previous"><?php previous_comments_link( __( '&larr; Older Comments', 'twentyeleven' ) ); ?></div>
      <div class="nav-next"><?php next_comments_link( __( 'Newer Comments &rarr;', 'twentyeleven' ) ); ?></div>
    </nav>
    {% endif %} {# check for comment navigation #}

    <ol class="commentlist">
      {# Loop through and list the comments. #}
      {% for comment in article.comments %}
        {% include "comment.html" %}
      {% endfor %}
    </ol>

    {# TODO #}
    {% if false %}
    <?php if ( get_comment_pages_count() > 1 && get_option( 'page_comments' ) ) : // are there comments to navigate through ?>
    <nav id="comment-nav-below">
      <h1 class="assistive-text"><?php _e( 'Comment navigation', 'twentyeleven' ); ?></h1>
      <div class="nav-previous"><?php previous_comments_link( __( '&larr; Older Comments', 'twentyeleven' ) ); ?></div>
      <div class="nav-next"><?php next_comments_link( __( 'Newer Comments &rarr;', 'twentyeleven' ) ); ?></div>
    </nav>
    {% endif %}{# check for comment navigation #}

    {#
     # If there are no comments and comments are closed, let's leave a little note, shall we?
     # But we only want the note on posts and pages that had comments in the first place.
     #}
    {% if article.comments %}
    <p class="nocomments"><?php _e( 'Comments are closed.' , 'twentyeleven' ); ?></p>
    {% endif %}

  {% endif %}{# article.comments #}

  {# Do not show a comment form. #}

</div><!-- #comments -->
