{% if comment.type == 'pingback' or comment.type == 'trackback' %}
<li class="post pingback">
  <p>Pingback: <a href='{{ comment.website }}' rel='external nofollow ugc' class='url'>{{ comment.author }}</a></p>

{% else %}
{# TODO #}
<li class="comment even thread-even depth-1{% if comment.author == article.author %} bypostauthor{% endif %}" id="li-comment-{{ comment.slug }}">
  <article id="comment-{{ comment.slug }}" class="comment">
    <footer class="comment-meta">
      <div class="comment-author vcard">
          {% set avatar_size = 68 %}
          {% if comment.replyto %}
            {% set avatar_size = 39 %}
          {% endif %}

          {# TODO Get the gravatar URL for the author. #}
          <img alt='' src='{{ comment.avatar }}' class='avatar avatar-{{ avatar_size }} photo' height='{{ avatar_size }}' width='{{ avatar_size }}'/>

          {# TODO Author URLs #}
          <span class="fn">
            {{ comment.author }}</span> on <a href="{{ comment.url }}"><time datetime="{{ comment.date.isoformat() }}">{{ comment.date.strftime('%B %-d, %Y at %-I:%M') }} {{ comment.date.strftime('%p').lower() }}</time></a> <span class="says">said:
          </span>
      </div><!-- .comment-author .vcard -->

      {% if comment.status != 'published' %}
        <em class="comment-awaiting-moderation">Your comment is awaiting moderation.</em>
        <br />
      {% endif %}

    </footer>

    <div class="comment-content">{{ comment.content }}</div>

    {% if comment.replies %}
      <ul class="children">
      {% for comment in comment.replies %}
        {% include "comment.html" %}
      {% endfor %}
      </ul>
    {% endif %}
  </article><!-- #comment-## -->

{% endif %}