<div id="comments">
  {%  if article.comments %}
    <h2 id="comments-title">
      {% if article.comments_count == 1 %}
      One thought on &ldquo;<span>{{ article.title }}</span>&rdquo;
      {% else %}
      {{ article.comments_count }} thoughts on &ldquo;<span>{{ article.title }}</span>&rdquo;
      {% endif %}
    </h2>

    <ol class="commentlist">
      {# Loop through and list the comments. #}
      {% for comment in article.comments %}
        {% include "comment.html" %}
      {% endfor %}
    </ol>

    {#
     # If there are no comments and comments are closed, let's leave a little note, shall we?
     # But we only want the note on posts and pages that had comments in the first place.
     #}
    {% if article.comments %}
    <p class="nocomments"><?php _e( 'Comments are closed.' , 'twentyeleven' ); ?></p>
    {% endif %}

  {% endif %}{# article.comments #}

  {# Do not show a comment form. #}

</div><!-- #comments -->
