	</div><!-- #main -->
</div></div><!-- #page -->
<footer id="colophon" role="contentinfo">
	<div id="footer">
		<p>&copy; 2007-2012 - <a href="http://www.instantbird.com/about.html">The Instantbird Team</a>.</p>
		<p class="small-text">All product names and trademarks are the property of their respective owners.
		<a href="https://getpelican.com/" title="Pelican Static Site Generator, Powered by Python" rel="generator">Proudly powered by Pelican</a>
		</p>
	</div>
</footer><!-- #colophon -->
</body>
</html>
