{% extends "base.html" %}

{% block body_class %}home blog {% if articles_page.has_previous() %}paged {% endif %}two-column right-sidebar{% endblock %}

{% block content %}
<div id="primary">
  <div id="content" role="main">
    {% if articles_page.object_list %}
      {% set nav_class='nav-above' %}
      {% include 'content_nav.html' %}

      {% for article in articles_page.object_list %}
      {% include "content.html" %}
      {% endfor %}

      {% set nav_class='nav-below' %}
      {% include 'content_nav.html' %}

    {% else %}

    <article id="post-0" class="post no-results not-found">
      <header class="entry-header">
        <h1 class="entry-title">Nothing Found</h1>
      </header><!-- .entry-header -->

      <div class="entry-content">
        <p>Apologies, but no results were found for the requested archive. Perhaps searching will help find a related post.</p>
        {% include 'searchform.html' %}
      </div><!-- .entry-content -->
    </article><!-- #post-0 -->

    {% endif %}
  </div><!-- #content -->
</div><!-- #primary -->

{% include "sidebar.html" %}

{% endblock %}
