{% extends "base.html" %}

{% block title %}{% for p in period|reverse %}{{ p }} | {% endfor %}Blog@instantbird.org{% if articles_page.has_previous() %} | Page {{ articles_page.number }}{% endif %}{% endblock %}

{% block body_class %}archive {% if articles_page.has_previous() %}paged {% endif %}date two-column right-sidebar{% endblock %}

{% block content %}
<section id="primary">
  <div id="content" role="main">
  {% if articles_page.object_list %}
    <header class="page-header">
      <h1 class="page-title">
        {# Day archive. #}
        {% if period|length == 3 %}
          Daily Archives: <span>{{ period[1] }} {{ period[2] }}, {{ period[0] }}</span>
        {# Month archive. #}
        {% elif period|length == 2 %}
          Monthly Archives: <span>{{ period[1] }} {{ period[0] }}</span>
        {# Year archive. #}
        {% elif period|length == 1 %}
          Yearly Archives: <span>{{ period[0] }}</span>
        {% else %}
          Blog Archives
        {% endif %}
      </h1>
    </header>

    {% set nav_class='nav-above' %}
    {% include 'content_nav.html' %}

    {% for article in articles_page.object_list %}
    {% include "content.html" %}
    {% endfor %}

    {% set nav_class='nav-below' %}
    {% include 'content_nav.html' %}

  {% else %}

    <article id="post-0" class="post no-results not-found">
      <header class="entry-header">
        <h1 class="entry-title">Nothing Found</h1>
      </header><!-- .entry-header -->

      <div class="entry-content">
        <p>Apologies, but no results were found for the requested archive. Perhaps searching will help find a related post.</p>
        {% include 'searchform.html' %}
      </div><!-- .entry-content -->
    </article><!-- #post-0 -->

  {% endif %}

  </div><!-- #content -->
</section><!-- #primary -->

{% include "sidebar.html" %}
{% endblock %}
