<div id="secondary" class="widget-area" role="complementary">
  <aside id="archives" class="widget">
    <h3 class="widget-title">Archives</h3>
    <ul>
      {# TODO Monthly archive list #}
      <?php wp_get_archives( array( 'type' => 'monthly' ) ); ?>
    </ul>
  </aside>

  <aside id="meta" class="widget">
    <h3 class="widget-title">Meta</h3>
    <ul>
      <?php wp_register(); ?>
      <li><?php wp_loginout(); ?></li>
      <?php wp_meta(); ?>
    </ul>
  </aside>
</div><!-- #secondary .widget-area -->
