<div id="secondary" class="widget-area" role="complementary">
  <aside id="search-3" class="widget widget_search">
    <form method="get" id="searchform" action="http://blog.instantbird.org/">
      <label for="s" class="assistive-text">Search</label>
      <input type="text" class="field" name="s" id="s" placeholder="Search" />
      <input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
    </form>
  </aside>
  <aside id="recent-posts-3" class="widget widget_recent_entries">
    <h3 class="widget-title">Recent Posts</h3>
    <ul>
      {% for article in (all_articles or articles)[:3] %}
        <li><a href="/{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a></li>
      {% endfor %}
    </ul>
  </aside>
  <aside id="categories-3" class="widget widget_categories">
    <h3 class="widget-title">Categories</h3>
    <ul>
      {% for category, _ in categories %}
        <li class="cat-item cat-item-8">
          <a href="/{{ category.url }}" title="View all posts filed under {{ category }}">{{ category }}</a>
        </li>
      {% endfor %}
    </ul>
  </aside>
  <aside id="archives-3" class="widget widget_archive">
    <h3 class="widget-title">Archives</h3>
  {{ archives }}
    <ul>
      {% for month in month_archives %}
        <li><a href="/{{ month.url }}" title='{{ month }}'>{{ month }}</a></li>
      {% endfor %}
    </ul>
  </aside>
</div><!-- #secondary .widget-area -->
